*{
    font-family: Calibri;
}
body{
    margin: 0;
}
h4 {
    padding: 0px 8px;
}
.header{
    text-align: center;
}
.header-title{
    margin: 20px auto;
}
.header-subtitle{
    margin: 20px auto;
}
.spacer{
    width: 100%;
    height: 70px;
}
.show-colors{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.show-colors-regular{
    display: flex;
}
.show-colors-aprobado{
    display: flex;
}
.color-regular{
    background-color: #00909e;
    width: 70px;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;

}
.color-aprobado{
    background-color: #0f4c75;
    width: 70px;
    border-radius: 50%;
    margin: 0px 20px 0px 50px;
}
.ano-total{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.semestre{
    width: 200px;
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.semestre-materia {
    background-color: #1b262c;
    flex: 1 1 auto;
    border: 2px solid white;
    font-size: 15px;
    color: white;
    text-align: center;
    display: flex;
    cursor:pointer;
    height: calc( 60vh/3 );
}
.semestre-materia h4{
    margin: auto;
    /* font-weight: 200; */
}
.semestre :hover{
    background-color: white;
    display: flex;
    font-size: 20px;
    color: #1b262c;
}
.regular {
    background-color: #00909e;
    flex: 1 1 auto;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    cursor:pointer;
    height: calc( 60vh/3 );
}
.regular h4{
    margin: auto;
    font-weight: 200;
    flex-grow: 1;
}
.aprobado{
    background-color: #0f4c75;
    flex: 1 1 auto;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    cursor:pointer;
    height: calc( 60vh/3 );
}
.aprobado h4{
    margin: auto;
    font-weight: 200;
    flex-grow: 1;
}

@keyframes transition{
    from {font-size: 15px;}
    to {font-size: 20px;}
}

@media (max-width: 414px){
    .ano-total{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }
    .header{
        width: 80%;
    }
    .show-colors{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .color-regular{
        background-color: #00909e;
        width: 50px;
        border-radius: 50%;
        margin: 10px 20px 10px 20px;
    
    }
    .color-aprobado{
        background-color: #0f4c75;
        width: 50px;
        border-radius: 50%;
        margin: 10px 20px 10px 20px;
    }
    .header-title{
        margin: 20px auto;
        font-size: 25px;
    }
    .header-subtitle{
        margin: 20px auto;
        font-size: 20px;
    }
    .semestre{
        width: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        height: 150px;
    }
    .semestre-materia{
        width: calc(100%/3);
    }
    .spacer{
        width: 100%;
        height: 30px;
    }
}
